<h3>All these cat-friends like that post :</h3>

<ul>
  <% @post.likes.each do |like| %>

  <li>
    <%= link_to user_path(like.author) do %>
      Author: <%= like.author.name %>
    <% end %>
  </li>

<% end %>

</ul>
