<div>
  <ul>
    <li>
      <%= link_to received_requests_user_path do %>
        You received
        <strong id="receivedrequests">
        <%= current_user.received_pending_friends.count %>
        </strong> friend requests.
      <% end %>
    </li>
    <li>
      <%= link_to sent_requests_user_path do %>
        You sent
        <strong id="sentrequests">
        <%= current_user.sent_pending_friends.count %>
        </strong> pending requests.
      <% end %>
    </li>
  </ul>
</div>
