<% if !user_signed_in? %>
  <%= render 'login' %>
<% else %>
  <p>What's in your mind today?</p>
  <%= render 'shared/post_form' %>
  <h3>POSTS :  </h3>
  <p>--------------------------------------</p>
  <%= render @posts %>
<% end %>
